<!-- start custom head snippets -->
<style> @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); </style>
<meta name="google-site-verification" content="aqusqICyzhLBKB_T_iN3MvtARbdyjDFgK9HCbvFKTlw" />
<meta name="naver-site-verification" content="db640fd1b7a8e0c22032d2387c6dd9e7a26a7afe" />

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">

<!-- end custom head snippets -->
